In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
from pandas_df_commons.patched import pd

pandas version 1.5.1

In [2]:
df = pd.concat(
    [
        pd.DataFrame({col: np.random.random(3) for col in ["open", "high", "low", "close"]}),
        pd.DataFrame({col: np.random.random(3) for col in ["open", "high", "low", "close"]}),
    ],
    axis=1,
    keys=["A", "B"]
)

df

          A                                       B                      \
       open      high       low     close      open      high       low
0  0.284478  0.304466  0.457123  0.650286  0.473524  0.180528  0.971797
1  0.388407  0.058738  0.815588  0.057078  0.287017  0.908005  0.272512
2  0.772364  0.508710  0.719162  0.889439  0.287990  0.970311  0.779211


      close
0  0.952579
1  0.815594
2  0.342578

In [3]:
# access values of any level (1st hit top down)
df.X[["open", "close"]]

   (A, open)  (B, open)  (A, close)  (B, close)
0   0.284478   0.473524    0.650286    0.952579
1   0.388407   0.287017    0.057078    0.815594
2   0.772364   0.287990    0.889439    0.342578

In [4]:
# access columns of any level by regex ( index is converted str(tuple(<column>))    )
df.X["~/.+o.+/"]

   (A, open)  (A, low)  (A, close)  (B, open)  (B, low)  (B, close)
0   0.284478  0.457123    0.650286   0.473524  0.971797    0.952579
1   0.388407  0.815588    0.057078   0.287017  0.272512    0.815594
2   0.772364  0.719162    0.889439   0.287990  0.779211    0.342578

In [5]:
df.X["~/A/.*[en]$/"]

   (A, open)  (A, close)
0   0.284478    0.650286
1   0.388407    0.057078
2   0.772364    0.889439

In [6]:
df.X[["B", "A"]]

,"(B, open)","(B, high)","(B, low)","(B, close)","(A, open)","(A, high)","(A, low)","(A, close)"
0,0.473524,0.180528,0.971797,0.952579,0.284478,0.304466,0.457123,0.650286
1,0.287017,0.908005,0.272512,0.815594,0.388407,0.058738,0.815588,0.057078
2,0.287990,0.970311,0.779211,0.342578,0.772364,0.508710,0.719162,0.889439

In [7]:
df.X[["~/A/.*[en]$/", "B"]]

   (A, open)  (A, close)  (B, open)  (B, high)  (B, low)  (B, close)
0   0.284478    0.650286   0.473524   0.180528  0.971797    0.952579
1   0.388407    0.057078   0.287017   0.908005  0.272512    0.815594
2   0.772364    0.889439   0.287990   0.970311  0.779211    0.342578