In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
from pandas_df_commons.patched import pd

pandas version 1.5.1

In [2]:
df = pd.concat(
    [
        pd.DataFrame({col: np.random.random(3) for col in ["open", "high", "low", "close"]}),
        pd.DataFrame({col: np.random.random(3) for col in ["open", "high", "low", "close"]}),
    ],
    axis=1,
    keys=["A", "B"]
)

df

          A                                       B                      \
       open      high       low     close      open      high       low
0  0.813626  0.479962  0.430051  0.609503  0.023282  0.984334  0.863002
1  0.000437  0.152569  0.469321  0.177843  0.652503  0.255874  0.052288
2  0.886877  0.630192  0.726781  0.705546  0.905343  0.557222  0.843524


      close
0  0.370042
1  0.637597
2  0.464558

In [3]:
# access values of any level (1st hit top down)
df.X[["open", "close"]]

   (A, open)  (B, open)  (A, close)  (B, close)
0   0.813626   0.023282    0.609503    0.370042
1   0.000437   0.652503    0.177843    0.637597
2   0.886877   0.905343    0.705546    0.464558

In [4]:
# access columns of any level by regex ( index is converted str(tuple(<column>))    )
df.X["~/.+o.+/"]

   (A, open)  (A, low)  (A, close)  (B, open)  (B, low)  (B, close)
0   0.813626  0.430051    0.609503   0.023282  0.863002    0.370042
1   0.000437  0.469321    0.177843   0.652503  0.052288    0.637597
2   0.886877  0.726781    0.705546   0.905343  0.843524    0.464558

In [5]:
df.X["~/A/.*[en]$/"]

   (A, open)  (A, close)
0   0.813626    0.609503
1   0.000437    0.177843
2   0.886877    0.705546

In [6]:
df.X[["B", "A"]]

,"(B, open)","(B, high)","(B, low)","(B, close)","(A, open)","(A, high)","(A, low)","(A, close)"
0,0.023282,0.984334,0.863002,0.370042,0.813626,0.479962,0.430051,0.609503
1,0.652503,0.255874,0.052288,0.637597,0.000437,0.152569,0.469321,0.177843
2,0.905343,0.557222,0.843524,0.464558,0.886877,0.630192,0.726781,0.705546

In [7]:
df.X[["~/A/.*[en]$/", "B"]]

   (A, open)  (A, close)  (B, open)  (B, high)  (B, low)  (B, close)
0   0.813626    0.609503   0.023282   0.984334  0.863002    0.370042
1   0.000437    0.177843   0.652503   0.255874  0.052288    0.637597
2   0.886877    0.705546   0.905343   0.557222  0.843524    0.464558

In [8]:
df2 = pd.concat(
    [
        pd.DataFrame({col: np.random.random(3) for col in ["open", "high", "low", "close"]}),
        pd.DataFrame({col: np.random.random(3) for col in ["open", "high", "low", "close"]}),
    ],
    axis=0,
    keys=["A", "B"]
)

In [9]:
# seperate calculation per hierarchy
from pandas_df_commons.indexing.decorators import for_each_top_level_row

@for_each_top_level_row
def pct_change(df):
    return df.pct_change().fillna(0)

pct_change(df2)

         open      high       low      close
A 0  0.000000  0.000000  0.000000   0.000000
  1  0.927807  2.164683 -0.636873   7.684798
  2 -0.712712  1.473482  0.060087   3.677276
B 0  0.000000  0.000000  0.000000   0.000000
  1 -0.346838  0.001748 -0.332810  -0.896835
  2  0.073323 -0.898385 -0.774607  16.727912